.header-component {
  nav {
    background-color: lightgray;

    .nav-item {
      &.router-link-active {
        background-color: #F6F6F6;
      }

      &:hover {
        background-color: #F6F6F6;
      }
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: black;
    }
    a:hover {
      cursor: pointer;
    }
  }
}
