<div class="confirmation">

  <div class="row">
    <div class="col-xs-12">
      <h1>Personal details</h1>

      <div *ngIf="successfullySent" class="alert alert-success">
        Thank you! Your request was sent.
      </div>

      <div *ngIf="sendError" class="alert alert-warning">
        Your request could not be sent. Please try again.
      </div>

      <div *ngIf="!successfullySent">
        <div class="form-group col-xs-12">
          <label>First name</label>
          {{model?.personalDetails?.firstName}}
        </div>

        <div class="form-group col-xs-12">
          <label>Last name</label>
          {{model?.personalDetails?.lastName}}
        </div>

        <div class="form-group col-xs-12">
          <label>Credit card type</label>
          {{model?.cardType}}
        </div>

        <div class="form-group col-xs-12">
          <label>Email</label>
          {{model?.personalDetails?.email}}
        </div>

        <div class="form-group col-xs-12">
          <label>Phone</label>
          {{model?.personalDetails?.phone}}
        </div>

        <div class="col-md-12">
          <button type="button" class="btn btn-default"
            (click)="back()">Back</button>

          <button type="submit" class="btn btn-default"
            (click)="send()">Send</button>
        </div>
      </div>

    </div>
  </div>

</div>
