$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.main-content {
  min-width: 320px;
  margin: auto;

  background-color: #FBFBFB;

  @media(min-width: $screen-sm-min) {
    width: 768px;
  }

  @media(min-width: $screen-md-min) {
    width: 992px;
  }

  header {
  }

  main {
    min-height: 400px;
    padding: 0 20px;

    .ng-valid {
      border-left: 5px solid #42A948; /* green */
    }

    .ng-touched.ng-invalid {
      border-left: 5px solid #a94442; /* red */
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
  }
}
